<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <style>
        body {
            background: -webkit-linear-gradient(left, #00c6ff, #3931af);
        }
        .card{
            background: -webkit-linear-gradient(left, #5f9778, #8a6092);
            color: white;


        }
      
    </style>
    <br><br><hr>
    <div class="container cont mt-4 ">

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if messages %}
                    {%for msg in messages%}
                    {% if msg %}
                    <div
                        class="alert alert-{{msg.tags}} alert-dismissible fade show font-weight-bold text-primary mr-3 ml-3 mt-5">
                        <small>{{msg}}</small>
        
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
        
                    {% endif %}
                    {%endfor%}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 offset-md-3">
    
                <form action="" method="post">{% csrf_token %}
                    <div class="card shadow text-center ">
                        <div class="card-header"></div>
                        <img class="card-img-top" src="" alt="">
                        <div class="card-body">
                            <h4 class="card-title">Login </h4>
                            <p class="card-text">
    
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">User Name</label>
                                        <input type="text" class="form-control" name="uName" required>
    
                                    </div>
                                </div>
    
                                <div class="col">
                                    <div class="form-group">
                                        <label for="">Password</label>
                                        <input type="password" class="form-control" name="pass1" required>
    
                                    </div>
                                </div>
                            </div>
    
    
    
    
    
                            <div class="row">
                                <div class="col text-center">
                                    <div class="form-group">
                                        <input type="submit" class="btn btn-primary btn-block btn-sm" value="Login">
    
                                    </div>
                                </div>
                            </div>
    
                            <p class="card-text">
                                <span>Not a Member?</span>
                                <span>
                                    <a style="text-decoration: none; font-weight:bold" href="{% url 'Signup' %}">register</a>
    
                                </span>
                            </p>
                            <p class="card-text">
                                <a  style="text-decoration: none; font-weight:bold"  href="">Forgot Password?</a>
                            </p>
    
                            </p>
                        </div>
                        <div class="card-footer"></div>
                    </div>
                </form>
    
    
            </div>
        </div>
    </div>
    
    <br>
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>

